<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Produit</title>

    <!-- Bootstrap CSS depuis WebJars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

</head>
<body>
<!-- Navbar importée via Thymeleaf -->
<div th:replace="static/navbar :: navbar"></div>

<div class="container mt-5">
    <h1 class="text-3xl font-bold text-gray-800 mb-6" th:text="${product.product_id == null}?'Ajouter un produit':'Modifier un produit'"></h1>
    <form method="post" th:object="${product}" th:action="@{/homeProduct}">
        <input th:field="*{product_id}" hidden type="text">
        <!-- Nom -->
        <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" name="name" required>
        </div>

        <!-- Prix -->
        <div class="mb-3">
            <label for="price" class="form-label">Prix</label>
            <input th:field="*{price}" type="number" class="form-control" id="price" name="price" step="0.01" required>
        </div>

        <!-- Catégorie -->
        <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <input th:field="*{categorie}" type="text" class="form-control" id="categorie" name="categorie" step="0.01" required>
        </div>

        <!-- Bouton -->
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>


<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
